{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "closure-elimination",
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "sourceMaps": "inline"
}