version: 2
jobs:
  build:
    docker:
      - image: node:8.1

    working_directory: /tmp/consumer

    steps:
      - checkout
      - run: npm install yarn
      - run: yarn install
      - run: yarn test
